.rectangleHorrizontallyStyle {
    -fx-fill: transparent;
    -fx-stroke: burlywood;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

.rectangleVerticallyStyle {
    -fx-fill: transparent;
    -fx-stroke: white;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
}

.rectangleHoverStyle {
    -fx-fill: cornsilk;
    -fx-stroke: white;
    -fx-stroke-width: 1px;
    -fx-stroke-type: outside;
    -fx-opacity: 0.3;
}

.textHorrizontallyStyle {
    -fx-fill: burlywood;
}

.textVerticallyStyle {
    -fx-fill: white;
}

.textMainSectorsStyle {
    -fx-fill: red;
}

.labelBold {
    -fx-font-weight: bold;
}

.mainStart label {
    -fx-font-weight: bold;
}
